header{
    
    background-color: antiquewhite;
    padding: 10px;
    display: flex;
    align-items: center;
    
}
h1{
   
    font-size: clamp(22px, 5vw, 40px);
    padding: clamp(10px, 4vw, 30px);
}
.logo{
    width:  150px;
    height: auto;
}
section{

    

    
    display: flex;
    flex-direction: row;
    
}

ul{
    background-color: #f3f3f3;
    margin: 20px ;
    border: 0.2px solid #222;
    padding: 30px;
    width: 20rem;
    height: auto;
}
img{
    max-width: 100%;
    height: auto;
}

h2{
    font-size: clamp(22px, 5vw, 40px);
    padding: clamp(10px, 4vw, 30px);
}