@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap');
body{
    
   background-color: blanchedalmond;
   color: brown;
   font-family: "BBH Bogle", sans-serif;
   font-weight: 100;
   font-style: normal;
}

header{
    padding: 2rem;
    background-color: rgb(0, 255, 200);
    text-align: center;
}
main{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section{

    display: flex;
    flex-direction: column;
    gap: 0.5;
}
h2{
    color: rgb(46, 46, 46);
    font-size: 2;
}

input[type="radio"]{
    accent-color: #ec2d2d;
   
    
}