header{
    
    background-color: antiquewhite;
    padding: 10px;
    display: flex;
    align-items: center;
    
}
h1{
   
    font-size: 60px;
}
.logo{
    width:  150px;
    height: auto;
}
section{

    

    
    display: flex;
    flex-direction: row;
    
}

ul{
    background-color: #f3f3f3;
    margin: 20px ;
    border: 0.2px solid #222;
    padding: 30px;
    width: 20rem;
    height: auto;
}
img{
    width: 200px;
}
h2{
    padding: 30px;
  font-size: 40px;
  
}
